{% extends 'main/base.html' %}

{% block content %}

  <h1>Create new Article</h1>

  {% if success %}
    <p>Form submitted successfully</p>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Title" />
    <textarea name="content" placeholder="Content"></textarea>
    <select name="author">
      {% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
    </select>

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>

{% endblock %}