<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      .block {
        display: block
      }
    </style>
  </head>
  <body>
    
    <form>
      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.name }}</label>
        <input name="{{field.name}}" class="block" id="{{ field.id_for_label }}">
      {% endfor %}
    </form>

  </body>
</html>